<table>
  <tr>
    <h2>{{questions[question].questionText}}</h2>
  </tr>
  <tr>
    <table>
      <tr>
        <td><button (click)="answer(questions[question].guesses[0])">{{questions[question].guesses[0]}}</button></td>
        <td><button (click)="answer(questions[question].guesses[1])">{{questions[question].guesses[1]}}</button></td>
      </tr>
      <tr>
        <td><button (click)="answer(questions[question].guesses[2])">{{questions[question].guesses[2]}}</button></td>
        <td><button (click)="answer(questions[question].guesses[3])">{{questions[question].guesses[3]}}</button></td>
      </tr>
    </table>
  </tr>
</table>

