<table>
  <tr class="top">
    <h2>{{currentQuestion.questionText}}</h2>
  </tr>
  <tr class="bot">
    <table>
      <tr>
        <td><button mat-raised-button class="block" (click)="answer(currentQuestion.guesses[0])" [disabled]="disabled">{{currentQuestion.guesses[0]}}</button></td>
        <td><button mat-raised-button class="block" (click)="answer(currentQuestion.guesses[1])" [disabled]="disabled">{{currentQuestion.guesses[1]}}</button></td>
      </tr>
      <tr>
        <td><button mat-raised-button class="block" (click)="answer(currentQuestion.guesses[2])" [disabled]="disabled">{{currentQuestion.guesses[2]}}</button></td>
        <td><button mat-raised-button class="block" (click)="answer(currentQuestion.guesses[3])" [disabled]="disabled">{{currentQuestion.guesses[3]}}</button></td>
      </tr>
    </table>
  </tr>
</table>

